<template>
<div class="up">
  <div v-for="h of headers" :key="h" class="header">
    {{h}}
  </div>
</div>
</template>

<script>
export default {
  name: 'HeaderUp',
  data: function() {
    return {
      headers: ['0', '1', '2', '3',
                '4', '5', '6', '7',
                '8', '9', 'A', 'B',
                'C', 'D', 'E', 'F'],
    }
  },
}
</script>

<style scoped>
.up {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 38px;
}

.header {
    background: black;
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0px;
    margin: 0;
    width: calc((100% - 38px) * 1/16);
    text-align: center;
}
</style>
