<template>
<div class="left">
  <div v-for="h of headers" :key="h" class="header">
    {{h}}
  </div>
</div>
</template>

<script>
export default {
  name: 'HeaderLeft',
  data: function() {
    return {
      headers: ['0', '1', '2', '3',
                '4', '5', '6', '7',
                '8', '9', 'A', 'B',
                'C', 'D', 'E', 'F'],
    }
  },
}
</script>

<style scoped>
.header {
    background: black;
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
    text-align: left;
}
</style>
