<template>
<div class="matrix">
  <input v-for="(item, index) of matrix"
         :key="index"
         v-model="matrix[index]"
         @input="upperCase($event.target.value, index)"
         @mouseover="commitCell(index)"
         @mouseout="hideInspector"
         :maxlength=2
         type="text"
         class="cell"
         v-hexOnly/>
</div>
</template>

<script>
export default {
  name: 'Matrix',
  computed: {
    matrix: {
      get() {
        return this.$store.getters.matrix
      },

      set(newMatrix) {
        this.$store.commit('changeMatrix', newMatrix)
      }
    },
  },

  methods: {
    upperCase(value, index) {
      value = value.toUpperCase()
      this.$store.commit('changeMatrixByIndex', {index, value})
      this.$store.commit('updateIR')
    },

    commitCell(index) {
      this.$store.commit('showInspector', true)
      this.$store.commit('changeCell', index)
      this.$store.commit('isRegister', false)
    },

    hideInspector() {
      this.$store.commit('showInspector', false)
    }
  },
}
</script>

<style scoped>
.matrix {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cell {
    background: red;
    color: black;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    border: none;
    width: calc(100% * 1/16);
    border-radius: 15%;
}

.cell:focus {
    background: black;
    color: red;
}

input {
    text-align: center;
}

</style>
