<template>
<div class="counters">
  <div class="contain">
    <div class="header">
      PC
    </div>
    <input
      :maxlength=2
      class="pc"
      v-model="programCounter"
      v-hexOnly/>
  </div>
  <div class="contain">
    <div class="header">
      IR
    </div>
    <input
      :maxlength=4
      class="ir"
      v-model="instruction"
      v-hexOnly
      disabled/>
  </div>
</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ProgramCounter',
  computed: {
    ...mapState(['matrix', 'instruction']),
    programCounter: {
      get() {
        let value = this.$store.getters.programCounter

        if (parseInt(value, 16) < 16 && value.length < 2)
          value = '0' + value

        return value.toUpperCase()
      },

      set(newPC) {
        this.$store.commit('changePC', newPC)
        this.$store.commit('updateIR')
      }
    },
  },
}
</script>

<style scoped>
.counters {
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.header {
    width: 20%;
}
input {
    background: blue;
    color: black;
    width: 45px;
    font-size: 25px;
    text-align: center;
    border: none;
    border-radius: 20%;
    padding: 2px 0;
}
.contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ir {
    width: 80px;
    border-radius: 8px;
}
</style>
