<template>
<div class="Registers">
  <div class="container-registers">
    <div v-for="(header, index) of headers"
         :key="index" class="header">
      {{header}}
    </div>
  </div>
  <div class="container-registers">
    <input v-for="(r, index) of registers"
           :maxlength=2
           class="register"
           :key="index"
           @mouseover="commitRegister(index)"
           @mouseout="hideInspector"
           :value="registers[index]"
           v-hexOnly
           disabled/>
  </div>
</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "Registers",
  data: () => ({
    headers: ['R0', 'R1', 'R2', 'R3',
              'R4', 'R5', 'R6', 'R7',
              'R8', 'R9', 'RA', 'RB',
              'RC', 'RD', 'RE', 'RF'],
  }),

  methods: {
    commitRegister(index) {
      this.$store.commit('isRegister', true)
      this.$store.commit('showInspector', true)
      this.$store.commit('changeRegister', index)
    },

    hideInspector() {
      this.$store.commit('showInspector', false)
    },
  },

  computed: {
    ...mapState(['registers']),
  },
}
</script>

<style>
.Registers {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.container-registers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 0;
    margin: 0;
}

.header {
    color: blue;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.3;
    width: 30%;
    padding: 1px 0;
}

.register {
    background: blue;
    color: black;
    border: none;
    font-size: 25px;
    text-align: center;
    width: 70%;
    border-radius: 20%;
    padding: 2px 0;
}

.register:focus {
    background: black;
    color: red;
}
</style>
