<template>
<div class="codeArea">
  <textarea
    id="CodeArea"
    ref="CodeArea"
    cols="6"
    spellcheck="false"
    v-model="code"
    @scroll="handleScroll"
    @keydown.prevent.tab="goToComment"
    @keydown.prevent.enter="handleEnter"
    @keydown.prevent.delete="handleDelete"
    @keydown.prevent="handleKeydown"
    @mouseover="setFocus(true)"
    @mouseout="setFocus(false)"/>
</div>
</template>

<script>
import shared from './shared'
import { mapState } from 'vuex'

export default {
  name: 'CodeArea',
  data: () => ({
    fixStart: 0,
    fixEnd: 0,
    haveFocus: false,
  }),

  mounted() {
    this.getLine = shared.getLine
    this.nthIndex = shared.nthIndex
    this.spliceString = shared.spliceString
    this.setFocus(true)
    this.$el.children[0].scrollTop = 0
  },

  methods: {
    handleScroll(e) {
      if (this.haveFocus) {
        document.getElementById('CodeLineNumbers').scrollTop = e.target.scrollTop
        document.getElementById('CommentArea').scrollTop = e.target.scrollTop
      }
    },

    setFocus(bool) {
      if (bool) {
        const CodeArea = this.$el.children[0]
        const CommentArea = document.getElementById('CommentArea')

        const line = this.getLine(CommentArea)
        const newLine = this.nthIndex(CodeArea.value, "\n", line)

        this.$refs.CodeArea.focus()

        if (CodeArea.selectionEnd >= CodeArea.value.length-2 || newLine > 630) {
          CodeArea.setSelectionRange(0, 1)
        }
        else {
          CodeArea.setSelectionRange(newLine-1, newLine)
        }
      }
      this.haveFocus = bool
    },

    goToComment() {
      const CodeArea = this.$el.children[0]
      const CommentArea = document.getElementById('CommentArea')

      const line = this.getLine(CodeArea)

      this.$nextTick(() => {
        CommentArea.focus()
        const commLines = CommentArea.value.split("\n").length

        if (line > commLines) {
          for (let i = 0; i <= line-commLines; i++)
            CommentArea.value += "\n"
        }

        const newLine = this.nthIndex(CommentArea.value, "\n", line)

        CommentArea.setSelectionRange(newLine, newLine)
      })
    },

    handleEnter() {
      const CodeArea = this.$el.children[0]
      const line = this.getLine(CodeArea)
      const newLine = this.nthIndex(CodeArea.value, '\n', line+1)
      CodeArea.setSelectionRange(newLine-1, newLine)
    },

    handleKeydown(ev) {
      const CodeArea = this.$el.children[0]
      const start = CodeArea.selectionStart

      switch(ev.keyCode) {
      case 37: // left
        if (CodeArea.value.charAt(start-1) === '\n')
          CodeArea.setSelectionRange(start-2, start-1)
        else
          CodeArea.setSelectionRange(start-1, start)
        break
      case 38: // up
        if (start-5 >= 0)
          CodeArea.setSelectionRange(start-5, start-4)
        break
      case 39: // right
        if (CodeArea.value.charAt(start+1) === '\n')
          CodeArea.setSelectionRange(start+2, start+3)
        else
          CodeArea.setSelectionRange(start+1, start+2)
        break
      case 40: // down
        CodeArea.setSelectionRange(start+5, start+6)
        break
      }

      if ((ev.keyCode >= 65 && ev.keyCode <= 90) ||
          ev.keyCode >= 48 && ev.keyCode <= 57) {
        this.$set(this, 'code', this.spliceString(CodeArea.value, start, 1, ev.key.toUpperCase()))

        if (CodeArea.value.charAt(start+1) === '\n')
          CodeArea.setSelectionRange(start+2, start+3)
        else
          CodeArea.setSelectionRange(start+1, start+2)
      }
    },

    handleDelete(ev) {
      const CodeArea = this.$el.children[0]
      const start = CodeArea.selectionStart

      switch(ev.keyCode) {
      case 8: // back
      case 46: // supr
        if (CodeArea.value.charAt(start) != '\n') {
          this.$set(this, 'code',
                    this.spliceString(CodeArea.value, start, 1, '0'))
          CodeArea.setSelectionRange(start, start+1)
        }
        break
      }
    },
  },

  beforeUpdate() {
    this.fixStart = this.$el.children[0].selectionStart
    this.fixEnd = this.$el.children[0].selectionEnd
  },

  updated() {
    const CodeArea = this.$el.children[0]
    CodeArea.setSelectionRange(this.fixStart, this.fixEnd)
    this.$store.commit('updateIR')
  },

  computed: {
    ...mapState(['matrix']),
    code: {
      get() {
        let s = ""
        for (let i = 0; i < this.matrix.length; i++) {
          s += this.matrix[i]
          s += this.matrix[++i]
          s += '\n'
        }
        return s
      },

      set(newCode) {
        let re = /^[a-fA-F0-9]{1,2}$/
        let arr = []
        for (let i = 0; i < newCode.length; i++) {
          if (newCode[i] === '\n' ||
              newCode[i+1] === '\n') {
            return
          }

          let tmp = newCode[i] + newCode[++i]

          if (re.test(tmp)) {
            arr.push(tmp.toUpperCase())
          } else return


          if (newCode[i+1] === '\n' ||
              newCode[i+2] === '\n') {
            return
          }

          tmp = newCode[++i] + newCode[++i]

          if (re.test(tmp)) {
            arr.push(tmp.toUpperCase())
          }
          else return
          i++
        }
        this.$store.commit('changeMatrix', arr)
      },
    }
  },
}
</script>

<style scoped>
.codeArea {
    overflow: hidden;
}

textarea {
    background-color: white;
    height: 100%;
    font-family: monospace;
    font-size: 25px;
    line-height: 1.6;
    color: black;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    resize: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    margin-right: -50px;
    padding-inline-start: 15px;
    padding-right: 20px;
}

textarea::-webkit-scrollbar {
    display: none;
}
</style>
