<template>
<div class="codeLineNumbers">
  <textarea
    id="CodeLineNumbers"
    cols="3"
    :value="lines"
    disabled/>
</div>
</template>

<script>
export default {
  name: 'CodeLineNumbers',
  computed: {
    lines() {
      let s = "";
      for (let i = 0; i < 16*16; i += 2) {
        let tmp = i.toString(16).toUpperCase() + "\n"
        
        if (tmp.length > 2) {
          s += tmp
        } else {
          s += '0' + tmp          
        }
      }
      return s
    }
  }
}
</script>

<style scoped>
textarea {
    background-color: black;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.6;
    color: red;
    border: none;
    margin-right: .3em;
    padding: 0;
    text-align: center;
    resize: none;
    overflow: hidden;
}
</style>
