<template>
<div class="commentArea">
  <textarea
    id="CommentArea"
    ref="CommentArea"
    wrap="off"
    cols="20"
    spellcheck="false"
    v-model="comments"
    @scroll="handleScroll"
    @keydown.enter.prevent="handleEnter"
    @keyup.shift.tab.prevent="gotoCode"
    @keydown.tab.exact.prevent="gotoCodeNext"
    @keydown.delete.prevent="handleDelete"
    @mouseover="setFocus(true)"
    @mouseout="setFocus(false)"/>
</div>
</template>

<script>
import shared from './shared'

export default {
  name: 'CommentArea',
  data: () => ({
    fixStart: 0,
    haveFocus: false,
  }),

  mounted() {
    this.getLine = shared.getLine
    this.nthIndex = shared.nthIndex
    this.spliceString = shared.spliceString
    this.$el.children[0].setSelectionRange(this.fixStart, this.fixStart)
  },

  beforeUpdate() {
    this.fixStart = this.$el.children[0].selectionStart
  },

  updated() {
    this.$el.children[0]
      .setSelectionRange(this.fixStart, this.fixStart)
  },

  computed: {
    comments: {
      get() {
        return this.$store.getters.comments
      },
      set(newComments) {
        const trimmed = newComments
              .split("\n")
              .slice(0, 129)
              .join("\n")

        this.$store.commit('changeComments', trimmed)
      }
    },
  },

  methods: {
    handleScroll(e) {
      if (this.haveFocus) {
        document.getElementById('CodeArea').scrollTop = e.target.scrollTop
        document.getElementById('CodeLineNumbers').scrollTop = e.target.scrollTop
      }
    },

    setFocus(bool) {
      if (bool) {
        const CommArea = this.$el.children[0]
        const CodeArea = document.getElementById('CodeArea')

        const line = this.getLine(CodeArea)
        const newLine = this.nthIndex(CommArea.value, "\n", line)

        this.$refs.CommentArea.focus()

        if (CommArea.selectionStart >= CommArea.value.length) {
          CommArea.setSelectionRange(0, 0)
        } else {
          CommArea.setSelectionRange(newLine, newLine)
        }
      }

      this.haveFocus = bool
    },

    handleEnter(e) {
      const current = e.target.selectionStart + 1
      const next = e.target.value.slice(current).indexOf('\n')

      const tmp = current+next
      e.target.setSelectionRange(tmp, tmp)
    },

    gotoCode() {
      const CodeArea = document.getElementById('CodeArea')
      const CommentArea = this.$el.children[0]

      const line = this.getLine(CommentArea)

      this.$nextTick(() => {
        CodeArea.focus()
        const newLine = this.nthIndex(CodeArea.value, "\n", line)
        CodeArea.setSelectionRange(newLine-1, newLine)
      })
    },

    gotoCodeNext() {
      const CodeArea = document.getElementById('CodeArea')
      const CommentArea = this.$el.children[0]

      const line = this.getLine(CommentArea)

      this.$nextTick(() => {
        CodeArea.focus()
        const newLine = this.nthIndex(CodeArea.value, "\n", line)
        CodeArea.setSelectionRange(newLine+1, newLine+2)
      })
    },

    handleDelete(ev) {
      const CommentArea = this.$el.children[0]
      const start = CommentArea.selectionStart

      switch(ev.keyCode) {
      case 8: // back
        if (CommentArea.value.charAt(start-1) != '\n' && start > 0) {
          this.$set(CommentArea, 'value',
                    this.spliceString(CommentArea.value, start-1, 1, ''))
        }

        if (start > 0)
          CommentArea.setSelectionRange(start-1, start-1)
        break
      case 46: // supr
        if (CommentArea.value.charAt(start) != '\n') {
          this.$set(CommentArea, 'value',
                    this.spliceString(CommentArea.value, start, 1, ''))
          CommentArea.setSelectionRange(start, start)
        }
        break
      }
    },
  },
}
</script>

<style scoped>
textarea {
    background-color: white;
    height: 100%;
    font-family: monospace;
    font-size: 25px;
    line-height: 1.6;
    color: black;
    border: none;
    margin-left: 10px;
    padding: 0;
    padding-left: 8px;
    resize: none;
}
</style>
