<template>
<div class="Inspector">
  <h4>Inspector</h4>
  <div class="container">
    <div class="left">
      <p>address: {{ address }}</p>
      <p>hex: {{ hex }} </p>
    </div>
    <div class="right">
      <p>signed: {{ signed }}</p>
      <p>float: {{ float }}</p>
    </div>
  </div>
  <p>binary: {{ binary }}</p>
</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "Inspector",
  computed: {
    ...mapState(['cell', 'matrix', 'register', 'registers', 'isRegister']),
    address() {
      let address = ""

      if (this.isRegister) {
        address += 'R'
        address += parseInt(this.register).toString(16).toUpperCase()
      }
      else {
        if (parseInt(this.cell) < 16) {
          address += '0'
        }
        address += parseInt(this.cell).toString(16).toUpperCase()
      }

      return address
    },

    hex() {
      if (this.isRegister) return this.registers[this.register]
      return this.matrix[this.cell]
    },

    binary() {
      let value

      if (this.isRegister)
        value = parseInt(this.registers[this.register], 16).toString(2)
      else
        value = parseInt(this.matrix[this.cell], 16).toString(2)

      return value.padStart(8, '0')
    },

    signed() {
      let value

      if (this.isRegister)
        value = parseInt(this.registers[this.register], 16)
      else
        value = parseInt(this.matrix[this.cell], 16)

      if (value > 127) value -= 256

      return value
    },

    float() {
      let bits = this.binary
      if (bits === '00000000')
        return 0

      let sign = bits[0] === '1' ? -1 : 1;
      let exp = parseInt(bits.substr(1, 3), 2) - (2 ** 2)
      let m = `1${bits.substr(4)}`

      let value = [...m].reduce(
        (p, v, i) => {
          let factor = 2 ** (exp - i)
          return p + (factor * v)
        }, 0
      ) * sign

      let string = "" + value

      return string.substring(0, 5)
    },
  },
}
</script>

<style scoped>
.Inspector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.right {
    margin-left: 2em;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
p {
    margin: 0;
}
</style>
