<template>
<div class="Code">
  <CodeLineNumbers />
  <CodeArea />
  <CommentArea />
</div>
</template>

<script>
import CodeLineNumbers from './Code/CodeLineNumbers.vue'
import CodeArea from './Code/CodeArea.vue'
import CommentArea from './Code/CommentArea.vue'

export default {
  name: "Code",
  components: {
    CodeLineNumbers,
    CodeArea,
    CommentArea,
  },
}  
</script>

<style>
.Code {
    display: flex;
    margin-top: 40px;
}
</style>
