<template>
<div class="Controls">
  <div class="container">
    <div class="control-item" @click="uploadDialog = true">
      <v-icon large color="white" class="icono">fa fa-upload</v-icon>
      Load
      <v-dialog v-model="uploadDialog" persistent maxWidth="600">
        <v-toolbar color="red" dark>
          <v-toolbar-title>Load a program</v-toolbar-title>
        </v-toolbar>
        <v-card>
          <v-container fluid grid-list-lg>
            <v-text-field
              label="Solo"
              placeholder="Paste your program here..."
              solo
              v-model="textProgram">
            </v-text-field>
          </v-container>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="green darken-1"
              flat
              @click.native="upload">
              Ok
            </v-btn>
            <v-btn
              color="red darken-1"
              flat
              @click.native="uploadDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="control-item" @click="resetRamDialog = true">
      <v-icon large color="white" class="icono">fa fa-memory</v-icon>
      Reset RAM
      <v-dialog v-model="resetRamDialog" persistent max-width="300">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text>If you confirm this the ram is going to be emptied</v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="red darken-1"
              flat
              @click.native="resetRam">
              Yes
            </v-btn>
            <v-btn
              color="green darken-1"
              flat
              @click.native="resetRamDialog = false">
              No
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="control-item" @click="resetCpuDialog = true">
      <v-icon large color="white" class="icono">fa fa-power-off</v-icon>
      Reset CPU
      <v-dialog v-model="resetCpuDialog" persistent max-width="300">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text>If you confirm this the registers and program counter are going to be emptied.</v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="red darken-1"
              flat
              @click.native="resetCpu">
              Yes
            </v-btn>
            <v-btn
              color="green darken-1"
              flat
              @click.native="resetCpuDialog = false">
              No
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="control-item" @click="play">
      <v-icon large color="white" class="icono">fa fa-play</v-icon>
      Play
    </div>
    <div class="control-item" @click="step">
      <v-icon large color="white" class="icono">fa fa-step-forward</v-icon>
      Step
    </div>
    <div class="control-item" @click="helpDialog = true">
      <v-icon large color="white" class="icono">fa fa-question</v-icon>
      Help
      <v-dialog v-model="helpDialog">
        <v-layout row>
          <v-flex>
            <v-card>
              <v-toolbar color="red" dark>
                <v-toolbar-title>Commands</v-toolbar-title>
                <v-spacer />
                <v-btn icon @click.native="helpDialog = false">
                  <v-icon large color="white">fa fa-times</v-icon>
                </v-btn>
              </v-toolbar>
              <v-list three-line>
                <v-list-tile>
                  <v-list-tile-action class="headline">
                    1RXY
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      Cargar (LOAD) el registro R con el patrón de bits que se encuentra en la celda de memoria cuya dirección es XY.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 14A3 haría que el contenido de la celda de memoria ubicada en la dirección A3 se almacenara en el registro 4.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    2RXY
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Cargar (LOAD) el registro R con el patrón de bits XY.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 20A3 haría que se almacenara el valor A3 en el registro 0.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    3RXY
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Almacenar (STORE) en la celda de memoria cuya dirección es XY el patrón de bits contenido en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 35B1 haría que el contenido del registro 5 se almacenara en la celda de memoria cuya dirección es B1.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    40RS
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Copiar (MOVE) al registro S el patrón de bits contenido en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 40A4 haría que el contenido del registro A se copiara en el registro 4.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    5RST
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Sumar (ADD) los patrones de bits de los registros S y T como si fueran representaciones en complemento a dos y almacenar el resultado en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 5726 haría que se sumaran los valores binarios de los registros 2 y 6, y que el resultado de la suma se almacenara en el registro 7.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    6RST
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Sumar (ADD) los patrones de bits de los registros S y T como si fueran representaciones en notación de punto flotante y almacenar el resultado en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 634E haría que se sumaran los valores de los registros 4 y E como valores en punto flotante y que el resultado se almacenara en el registro 3.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    7RST
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Combinar mediante OR los patrones de bits de los registros S y T y almacenar el resultado en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 7CB4 haría que el resultado de combinar mediante OR el contenido de los registros B y 4 se almacenara en el registro C.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    8RST
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Combinar mediante AND los patrones de bits de los registros S y T y almacenar el resultado en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 8045 haría que el resultado de combinar mediante AND el contenido de los registros 4 y 5 se almacenara en el registro 0.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    9RST
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Combinar mediante EXCLUSIVE OR los patrones de bits de los registros S y T y almacenar el resultado en el registro R.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: 95F3 haría que el resultado de combinar mediante la operación EXCLUSIVE OR el contenido de los registros F y 3 se almacenara en el registro S.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    AR0X
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Rotar (ROTATE) X bits hacia la derecha el patrón de bits contenido en el registro R. Los bits que salen por el extremo de menor peso se vuelven a insertar en el extremo de mayor peso.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: A403 haría que el contenido del registro 4 se rotara 3 bits hacia la derecha, de forma circular.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    BRXY
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Saltar (JUMP) a la instrucción ubicada en la celda de memoria correspondiente a la dirección XY si el patrón de bits contenido en el registro R es igual al patrón de bits contenido en el registro 0.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: B43C compara el contenido de los registros 4 y 0. Si los dos son iguales, coloca el patrón 3C en el PC. En caso contrario, la ejecución del programa continuaría con su secuencia normal.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />

                <v-list-tile>
                  <v-list-tile-action class="headline">
                    C000
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="text-primary">
                      Detener (HALT) la ejecución.
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      Ejemplo: C000 haría que se detuviera la ejecución del programa.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-dialog>
    </div>
  </div>
  <Inspector v-if="showInspector" id="Inspector"/>
</div>
</template>

<script>
import { mapState } from 'vuex'
import Inspector from './Controls/Inspector.vue'

export default {
  name: "Controls",
  data: () => ({
    resetRamDialog: false,
    resetCpuDialog: false,
    helpDialog: false,
    uploadDialog: false,
    textProgram: "",
  }),

  components: {
    Inspector,
  },

  computed: {
    ...mapState(['showInspector',
                 'instruction',
                 'matrix',
                 'registers',
                 'programCounter']),
  },
  methods: {
    upload() {
      let trimProgram = this.textProgram.toUpperCase().replace(/\W|[g-zG-Z_]/g, '')

      if (trimProgram.length % 2 != 0) {
        trimProgram += '0'
      }
      let newMatrix = trimProgram.match(/.{1,2}/g)

      while (newMatrix.length < this.matrix.length) {
        newMatrix.push('00')
      }

      this.$store.commit('changeMatrix', newMatrix)
      this.uploadDialog = false
    },

    resetRam() {
      this.$store.commit('clearMatrix')
      this.$store.commit('updateIR')
      this.resetRamDialog = false
    },

    resetCpu() {
      this.$store.commit('clearCpu')
      this.$store.commit('updateIR')
      this.resetCpuDialog = false;
    },

    execute() {
      const opcode = this.instruction[0]

      if (opcode == '1') {
        const R = parseInt(this.instruction[1], 16)
        const n = this.instruction[2] + this.instruction[3]
        const value = this.matrix[parseInt(n, 16)]
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '2') {
        const R = parseInt(this.instruction[1], 16)
        const value = this.instruction[2] + this.instruction[3]
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '3') {
        const R = parseInt(this.instruction[1], 16)
        const cell = parseInt(this.instruction[2] + this.instruction[3], 16)
        const value = this.registers[R]

        this.$store.commit('storeCell', {cell, value})
      }
      else if (opcode == '4') {
        const S = parseInt(this.instruction[2], 16)
        const R = parseInt(this.instruction[3], 16)
        const value = this.registers[S]
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '5') {
        const R = parseInt(this.instruction[1], 16)
        const S = parseInt(this.registers[parseInt(this.instruction[2], 16)], 16)
        const T = parseInt(this.registers[parseInt(this.instruction[3], 16)], 16)
        let value = ((S + T) % 256).toString(16).toUpperCase()
        if (value.length < 2)
          value = '0' + value

        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '6') {
        const R = parseInt(this.instruction[1], 16)
        const S = this.registers[parseInt(this.instruction[2], 16)]
        const T = this.registers[parseInt(this.instruction[3], 16)]

        const floatS = this.hexToFloat(S)
        const floatT = this.hexToFloat(T)

        const sum = floatS + floatT

        const value = this.floatToHex(sum)

        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '7') {
        const R = parseInt(this.instruction[1], 16)
        const S = this.registers[parseInt(this.instruction[2], 16)]
        const T = this.registers[parseInt(this.instruction[3], 16)]
        const value = S | T
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '8') {
        const R = parseInt(this.instruction[1], 16)
        const S = this.registers[parseInt(this.instruction[2], 16)]
        const T = this.registers[parseInt(this.instruction[3], 16)]
        const value = S & T
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == '9') {
        const R = parseInt(this.instruction[1], 16)
        const S = this.registers[parseInt(this.instruction[2], 16)]
        const T = this.registers[parseInt(this.instruction[3], 16)]
        const value = S ^ T
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == 'A') {
        const R = parseInt(this.instruction[1], 16)
        const n = parseInt(this.registers[R], 16)
        const shift = parseInt(this.instruction[3], 16)
        const value = ((n >> shift) | (n << 8 - shift)).toString(16)
        this.$store.commit('loadRegister', {R, value})
      }
      else if (opcode == 'B') {
        const R = parseInt(this.instruction[1], 16)
        const bitsR = this.hexToBits(this.registers[R])
        const bits0 = this.hexToBits(this.registers[0])
        const dir = this.instruction[2] + this.instruction[3]

        if (bitsR === bits0) {
          this.$store.commit('changePC', dir)
        }
      }
      else if (opcode == 'C') {
        if (this.instruction.substr(1, 3) === '000') {
          return false
        }
      }
      else {
        return false
      }
      return true
    },

    hexToBits(hex) {
      return parseInt(hex, 16).toString(2).padStart(8, "0")
    },

    hexToFloat(hex) {
      const bits = this.hexToBits(hex)
      const sign = bits[0] === '1' ? -1 : 1;
      const exp = parseInt(bits.substr(1, 3), 2) - (2 ** 2)
      const mantissa = `1${bits.substr(4)}`
      return [...mantissa].reduce(
        (p, v, i) => {
          const factor = 2 ** (exp - i)
          return p + (factor * v)
        },
        0
      ) * sign
    },

    floatToHex(n) {
      const decimalStr = Math.abs(n).toString(2)
      const first1 = decimalStr.indexOf("1")
      const dot = decimalStr.indexOf(".")
      const exp = dot - first1 - (dot > first1 ? 1 : 0)
      const normalizedStr = decimalStr.replace(".", "")
      const mantissa = normalizedStr
            .substr(normalizedStr.indexOf("1") + 1, 4)
            .padEnd(4, "0")

      const bitstring = ((n < 0 ? "1" : "0") +
                         (exp + 4).toString(2).padStart(3, "0")) + mantissa

      return parseInt(bitstring, 2).toString(16).toUpperCase()
    },

    step() {
      const before = this.programCounter
      const canAdvance = this.execute()
      const after = this.programCounter

      if (before === after && canAdvance)
        this.$store.commit('incPC')

      this.$store.commit('updateIR')
      return canAdvance
    },

    play() {
      while (this.step()) ;
    },
  },
}
</script>

<style scoped>
.Controls {
    height: 120px;
    color: white;
    display: flex;
    width: 100%;
}
.container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#Inspector {
    position: absolute;
    right: 20px;
}
.control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icono {
    margin-bottom: 20px;
}
.headline {
    margin-right: 50px;
}
</style>
