<template>
<div class="Memory">
  <div class="matrix-container">
    <HeaderUp/>
    <div class="matrix">
      <HeaderLeft/>
      <Matrix />
    </div>
  </div>
  <div class="program-container">
    <ProgramCounter />
    <Registers />
  </div>
</div>
</template>

<script>
import HeaderUp from './Memory/HeaderUp.vue'
import HeaderLeft from './Memory/HeaderLeft.vue'
import Matrix from './Memory/Matrix.vue'
import Registers from './Memory/Registers.vue'
import ProgramCounter from './Memory/ProgramCounter.vue'

export default {
  name: "Memory",
  components: {
    HeaderUp,
    HeaderLeft,
    Matrix,
    Registers,
    ProgramCounter,
  },
}
</script>

<style>
.Memory {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.matrix-container {
    width: 80%;
}

.matrix {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.program-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
</style>
