<template>
<div id="app">
  <Controls id="Controls"/>
  <div id="container">
    <Memory />
    <Code />
  </div>
</div>
</template>

<script>
import Controls from './components/Controls.vue'
import Memory from './components/Memory.vue'
import Code from './components/Code.vue'

export default {
  name: 'app',
  components: {
    Controls,
    Memory,
    Code,
  },
}
</script>

<style>
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#container {
    display: flex;
}

#Controls {
    width: 50%;
}
</style>
